.flappyb-game-container{
    width: 100%;
    height: calc(80vh - 5rem);
    background-color: rgb(245, 222, 179);
    display: flex;
    justify-content: right;
}

.bottom-obstacle, .top-obstacle{
    flex-shrink: 0;
}

.bottom-obstacle{
    align-self:flex-end;
    transform: translateX(-100%);

}